<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leetcode.mapper.TestDao">
    <resultMap id="testMap" type="com.leetcode.entity.Solution">
        <id property="solutionId" column="solutionId"/>
        <result property="userId" column="userId"/>
        <result property="username" column="username"/>
        <result property="image" column="image"/>
        <result property="problemId" column="problemId"/>
        <result property="solutionText" column="solutionText"/>
        <result property="solutionDatetime" column="solutionDatetime"/>
        <result property="visitedNumber" column="visitedNumber"/>
        <result property="isOfficial" column="isOfficial"/>
        <result property="solutionLikeNumber" column="solutionLikeNumber"/>
        <result property="solutionCommentNumber" column="solutionCommentNumber"/>
        <result property="solutionName" column="solutionName"/>
        <collection property="labelList" javaType="ArrayList" ofType="label">
            <id property="labelId" column="labelId"/>
            <result property="labelName" column="labelName"/>
        </collection>
    </resultMap>

    <select id="test" parameterType="int" resultMap="testMap">
        select solution.*,label.*
        from solution,label,labelsolution,user
        where user.userId=solution.userId and labelsolution.labelId=label.labelId and solution.solutionId=labelsolution.solutionId
        and solution.solutionId=#{id}
    </select>
</mapper>
